body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: calc(112.5% + 4 * (100vw - 600px) / 400);
}

img {
  display: block;
  width: 100%;
}

a {
  text-decoration: none;
}
